.videoContent {
  position: relative;
  display: flex;
  .imgContent {
    margin-right: 16px;
  }
  .textContent {
    cursor: pointer;
    text-decoration: none;
    h3 {
      line-height: 2.6rem;
      font-size: 1.8em;
      font-weight: bold;
    }
    .channelTitle {
      padding: 12px 0;
    }
  }
}

