.videoContent {
  position: relative;
  display: flex;
  margin-top: 16px;
  .imgContent {
    margin-right: 16px;
    .thumbnail {
      border-radius: 12px;
    }
  }
  .textContent {
    cursor: pointer;
    text-decoration: none;
    h3 {
      line-height: 2.6rem;
      font-size: 1.8em;
      font-weight: bold;
    }
    .channelInfo {
      padding: 12px 0;
      display: flex;
      align-items: center;
      .channelThumbnail {
        width: 24px;
        border-radius: 50%;
        margin-right: 8px;
      }
      .channelTitle {
        
      }
    }
  }
}

