.playPage {
  // display: grid;
  // grid-template-rows: auto auto;
  // grid-template-columns: auto auto auto;
  // grid-template-areas:
  //     "video relatedVideo"
  //     "videoInfo relatedVideo"
  //     "comment relatedVideo";
  // position: relative;
  // .videoInfo {
  //   grid-area: videoInfo;
  // }
  display: flex;
  width: 100%;
  margin: 0;
  .videoInfo {
    display: flex;
    margin-left: 15px;
    padding-top: 15px;
    margin-right: 20px;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  section.playPage {
    display: block;
  }
}
