.playPage {
  // display: grid;
  // grid-template-rows: auto auto;
  // grid-template-columns: auto auto auto;
  // grid-template-areas:
  //     "video relatedVideo"
  //     "videoInfo relatedVideo"
  //     "comment relatedVideo";
  // position: relative;
  // .videoInfo {
  //   grid-area: videoInfo;
  // }
  display: flex;
  width: 100%;
  margin: 0;
  .videoInfo {
    display: flex;
    flex-direction: column;
  }
}
