.playing {
  grid-area: video;
  margin: 20px;
  position: relative;
  // width: 65vw;
  // height: 35vw;
  min-width: 534px;
  min-height: 480px;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
