.detailBox {
  // width: 80%;
  // width: 65vw;
  // min-width: 480px;
  min-width: 534px;
  position: relative;
  .channelInfo {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 55px;
    .channelProfile {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }
    .channelDes {
      display: flex;
      flex-direction: column;
      span {
        &:first-child {
          font-weight: 700;
        }
      }
    }
  }
  .subBtn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: red;
    border: none;
    color: #fff;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
  }
  .videoDes {
    padding: 20px;
    line-height: 1.4;
  }
}
