header .container {
  display: flex;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  .start {
    display: flex;
    padding-left: 16px;
    button {
      padding: 8px;
      border: none;
      background: inherit;
      box-shadow: none;
      border-radius: 0;
      overflow: visible;
      cursor: pointer;
      .menu {
        display: block;
        width: 24px;
        height: 24px;
      }
    }
    a {
      display: flex;
      align-items: center;
      .logo {
        width: 90px;
        height: 20px;
        padding: 18px 14px 18px 16px;
      }
    }
  }
  .end {
    margin-left: 60px;
    width: 140px;
    display: flex;
    padding-right: 16px;
    margin-right: 30px;
    justify-content: space-between;
    .logo {
      width: 25px;
      height: 25px;
      &:hover {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);
        border-color: transparent;
      }
    }
    button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      border-color: transparent;
    }
  }
}
