.subNav {
  height: 100vh;
  position: fixed;
  box-sizing: border-box;
  border-right: 1px solid #333;
  width: 80px;
  padding: 12px;
  overflow-y: auto;
  left: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  &:hover {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 8px;
      display: initial;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #8c8c8c;
      border-radius: 10px;
      height: 30%;
    }
  }

  .iconContent {
    text-align: center;
    margin-bottom: 10px;
    :hover {
      background-color: #8c8c8c;
      border-radius: 10px;
      height: 30%;
    }
    .iconImg {
      padding: 0 10px;
      align-items: center;
      cursor: pointer;
    }
    .svgIcon {
      width: 24px;
      height: 24px;
    }
    .iconText {
      text-align: center;
    }
  }
}